<!DOCTYPE html>
<html>

<head>
    <!-- EXTERNAL CSS (BOOTSTRAP/MATERIALIZE) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <!-- INTERNAL CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/event.css" type="text/css" />

    <!-- DATEPICKER (does not work yet) -->
    <script src="bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <link href="bootstrap-datepicker/css/datepicker.css" rel="stylesheet">


    <title>Schoodle</title>
</head>

<body>

    <!-- MODAL BOX -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">event name here</h5>
                    <div class="x-btn">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label class="pop-up-label" for="pop-up-email">enter email to join event or edit attendance</label>
                    <input type="text" class="form-control" id="pop-up-email"
                        aria-describedby="inputGroup-sizing-default" placeholder="Email Address">
                </div>
                <div class="popup-footer">
                    <div class="pop-up-btn">
                        <button type="button" class="btn btn-secondary" id="close-btn"
                            data-dismiss="modal">Enter</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- NAV BAR -->
    <nav class="navbar navbar-light bg-dark">
        <span class="navbar-brand mb-0 h1 text-white">Schoodle</span>
    </nav>

    <!-- EVENT DETAILS -->
    <main>
        <h3 class="event-page-name">event name here</h3>
        <h6 class="event-page-host">hosted by: Justin</h6>
        <br>
        <p class="event-page-link">http://localhost:8080/e/abc123</p>
        <table style="width:100%">
            <tr>
                <th class="table-name"></th>
                <th class="table-date">June 19</th>
                <th class="table-date">June 20</th>
                <th class="table-date">June 21</th>
                <th class="table-date">June 22</th>
                <th class="table-date">June 23</th>
            </tr>
            <tr>
                <td class="table-name">Eric</td>
                <td class="table-option"></td>
                <td class="table-option"></td>
                <td class="table-option"></td>
                <td class="table-option"></td>
                <td class="table-option"></td>
            </tr>
            <tr>
                <td class="table-name">Sylvia</td>
                <td class="table-option"></td>
                <td class="table-option"></td>
                <td class="table-option"></td>
                <td class="table-option"></td>
                <td class="table-option"></td>
            </tr>
        </table>


        <br>
        <div class="demo-btn">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                JOIN/EDIT
            </button>
        </div>

    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>