.event-details {
  width: 95%;
  height: 320px;
  background: -webkit-gradient(linear, right top, left top, from(#b9ede9), color-stop(#a6dcd7), color-stop(#91d2cc), color-stop(#91d2cc), color-stop(#91d2cc), color-stop(#a6dcd7), to(#b9ede9));
  background: linear-gradient(to left, #b9ede9, #a6dcd7, #91d2cc, #91d2cc, #91d2cc, #a6dcd7, #b9ede9);
  margin: auto;
  padding: 17px;
  text-align: left;
  color: #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.event-details-container {
  width: 700px;
  height: 300px;
  margin: auto;
}

.table-section {
  position: relative;
  bottom: 50px;
  width: 800px;
  min-height: 400px;
  border-radius: 15px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(45, 45, 45, 0.2), 5px 6px 10px 5px rgba(75, 75, 75, 0.19);
          box-shadow: 0 4px 8px 0 rgba(45, 45, 45, 0.2), 5px 6px 10px 5px rgba(75, 75, 75, 0.19);
  text-align: center;
  margin: 15px auto auto auto;
  background-color: #fff;
  padding-bottom: 30px;
  padding-right: 20px;
}

.detail-section {
  display: inline-block;
  margin-right: 90px;
}

.winner {
  position: relative;
  width: 200px;
  word-wrap: break-word;
  margin: 30px 20px auto auto;
  float: right;
  font-size: 2rem;
  font-weight: 700;
  text-shadow: #eee 0px 0px 0.5px;
}

.event-page-name {
  margin-bottom: 15px;
  margin-top: 10px;
  font-size: 3.2rem;
  font-weight: 700;
  text-shadow: #eee 0px 0px 0.5px;
}

.event-page-host {
  margin: 10px 0 0 0;
  font-size: 1.3rem;
  text-shadow: #eee 0px 0px 0.5px;
}

.event-description {
  margin: 0px 0px 5px 0px;
  font-size: 1.1rem;
  text-shadow: #eee 0px 0px 0.5px;
}

.event-page-link {
  margin-top: 5px;
  font-size: 1.2rem;
  text-shadow: #eee 0px 0px 0.5px;
}

.table-date {
  text-align: center;
  font-size: 1.05rem;
  padding-top: 20px !important;
}

.table-option {
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  width: 80%;
  cursor: pointer;
  text-align: center;
}

.table-name {
  padding: 15px 15px 15px 13px;
}

.modal {
  background-color: transparent;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  width: inherit;
}

.modal-header {
  padding-top: 0px;
}

.pop-up-footer {
  background-color: #fff;
  text-align: center;
  margin: auto;
}

.pop-up-btn {
  text-align: center;
}

.demo-btn {
  text-align: center;
  margin-bottom: 20px;
}

.pop-up-label {
  font-size: 1rem;
}

.x-btn {
  margin: 10px 0px 0px auto;
}

.tableDisplay {
  width: 120%;
}

.btn-go {
  width: 70px;
  height: 35px;
  margin: 8px 60px auto auto;
}

.formRow {
  height: 50px;
  margin: 0px !important;
}

.formRow div {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.ppName {
  margin: 15px;
  text-align: center;
}

.submit-box {
  padding: 10px;
}

.selected {
  background-color: #cde9a4;
}

.error-msg {
  height: 40px;
  padding: 15px;
  color: red;
}

.btn-go:active {
  position: relative;
  top: 1px;
}

.btn-go:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

.fas {
  color: #99c45b;
  margin-top: 13px;
  font-size: 1.5rem;
}

.winner-text {
  display: none;
  text-align: center;
}

.winner-display {
  font-size: 2.5rem;
}
/*# sourceMappingURL=event.css.map */