html {
  box-sizing: border-box;
  height: 100vh

}
*, *:before, *:after {
  box-sizing: inherit;
}

* {
  font-family: 'Muli', sans-serif;
}


body {
  margin: 0;
  color: #244751;
  background-color: #eee;
}


main {
  width: 100%;
  margin: auto;
  padding-top: 70px;
  padding-bottom: 50px;
  vertical-align: middle;
  height: 100vh;
  // background-color: #f9fafa;
  background-color: #fcfcfc;
  text-align: center;
 }

.navbar {
text-align: center;
  position: fixed;
  height: 70px;
  width: 100%;
  padding: 0px 30px 20px 30px;
}

.navbar-brand {
  height: 80px;
  font-size: 2em;
  margin: auto 1000px 10px 40px;
}

a {
  text-decoration: none;
  }
  a:link {
  color: #fff;
  }
  a:visited {
  color: #fff;
  }
  a:hover {
    text-decoration: none;
  color: #fff;
  }